mixin news(props)
    .news&attributes(attributes)
        .news__img-wrapper 
            img.news__img(src= `assets/${attributes.src}`)
            .news__link-wrapper 
                a(href="#" target="_blank") 
                    svg.news__link #[use(xlink:href='assets/icons.svg#fb')]
                a(href="#" target="_blank") 
                    svg.news__link #[use(xlink:href='assets/icons.svg#insta')]
            a.news__caption.js-news-detail-show(href = attributes.href)
                p #[span.news__caption-label Автор:] #[span.news__caption-author #{props.author}] 
                p #[span.news__caption-label Фото:] #[span.news__caption-author #{props.photographer}] 
        a.news__text.js-news-detail-show(href= attributes.href)
            h3.news__title= props.title
            p.news__desc.text= props.shortDesc
        a.news__button.button.js-news-detail-show(href= attributes.href) Подробнее



mixin newsDetail(props)
    - let caption = `Автор: ${props.author} | Фото: ${props.photographer}`
    .news-detail(data-link= attributes.link, class= attributes.class, class= attributes.current? 'news-detail_current':'')
        figure.news-detail__img-wrapper.screen__section_img 
            img.news-detail__img(src= `assets/${props.image}`)
        .screen__section.screen__section_text
            +info(props.title, caption, 'Скачать материал')
                if props.desc
                    .info__content-inner.info__content-inner_desktop
                        each descPart in props.desc 
                            p= descPart
                    .info__content-inner.info__content-inner_mobile
                        p= props.desc[0]